.menuItem {
  position:absolute;
  top: 0.5em;
  right: 1em;

}

.Notifications {
  border: 3px dashed #e01d3f;
  padding: 5px;
  width: 30%;
  min-height: 50px;
  overflow: hidden;
  position:absolute;
  right: 1em;
  margin-top: 50px;
  padding-top: 20px;
  padding-left: 20px;
}

.Notifications p {
  margin: 0px;

  padding: 0px;
}

.close-b {
  position:absolute;
  top: 1em;
  right: 1em;
  background: transparent;
  border: none;
  font-size: 5px;
}

ul li[data-priority='default'] {
  color: blue;
}

ul li[data-priority='urgent'] {
  color: red;
}
